body {
  background: #111;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 20vh;
  text-align: center;
}

input, select {
  width: 60%;
  padding: 12px;
  margin: 6px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 12px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}
